.current-user {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;

  &--img {
    width: 325px;
    height: 281px;
    margin-right: 15px;
  }
  &__name {
   margin-top: 0;
  }
  &--header-description {
   font-weight: 600;
 }
}