@import '../../styles/style';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $gray-light;

  &--link {
    margin-right: 10px;
    color: $gray-darker;
  }

  &--active-link {
    color: $brand-info;
  }
}