.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 368px;
    height: 235px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}